<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/fragment :: header" th:remove="tag"></object>
    <!--    <object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
    <!--    <object th:include="fragments/fragment :: js" th:remove="tag"></object>-->
</head>
<body>
<div class="login-form-bg h-100" style="padding-top:5rem">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="error-content">
                    <div class="card mb-0">
                        <div class="card-body text-center pt-5">
                            <h1 class="error-text text-primary">404</h1>
                            <h4 class="mt-4"><i class="fa fa-thumbs-down text-danger"></i> Bad Request</h4>
                            <p>Your Request resulted in an error.</p>
                            <form class="mt-5 mb-5">

                                <div class="text-center mb-4 mt-4"><a th:href="@{/}" class="btn btn-primary">Go to Homepage</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <nav th:replace="fragments/fragment :: foot"></nav>
</footer>

</html>