<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/fragment :: header" th:remove="tag"></object>
    <!--    <object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
    <!--    <object th:include="fragments/fragment :: js" th:remove="tag"></object>-->
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<!--**********************************
Main wrapper start
***********************************-->
<div id="main-wrapper">
    <!--**********************************
        Content body start
    ***********************************-->
    <div th:replace="fragments/fragment :: sidebar"></div>
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Pengajuan Surat</a></li>
                    <li class="breadcrumb-item active"><a th:href="@{/}" >Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div th:if="${message}" id="alert" class="alert alert-dismissible fade show d-flex justify-content-center" th:classappend="${type}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <span th:text="${message}" th:remove="tag"></span>
                            </div>
                            <h4 class="card-title">Pinjaman</h4>
                            <div class="basic-form">
                                <form th:action="@{/pinjaman/tambah}" th:object="${pinjamanDetail}" method="POST">
                                    <div class="form-group row">
                                        <label class="col-md-3">Jumlah Peminjaman:</label>
                                        <input id="jumlahPinjaman" name="jumlahPinjaman" type="text" class="form-control col-md-9" th:value="${pinjamanDetail.jumlahPinjaman}">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">Tanggal Pengajuan:</label>
                                        <input id="tanggalPengajuan" name="tanggalPengajuan" type="date" class="form-control col-md-9" th:value="${pinjamanDetail.tanggalPengajuan}">
                                    </div>
                                    <button class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
</div>
</body>
<footer>
    <nav th:replace="fragments/fragment :: foot"></nav>
</footer>

</html>